<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dwitter</title>
  </head>
  <body>
    <h1>Dwitter</h1>
    <ul>
      <li><a href="#">All Dwitter</a></li>
      <li><a href="#">My Dwitter</a></li>
      <li><a href="#">Login</a></li>
    </ul>
    <form
      name="contentForm"
      action="/dwitter"
      method="post"
      style="border: 1px solid #555"
    >
      <input type="text" name="id" placeholder="id" />
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="content" style="width: 70%" />
      <button type="submit">Post</button>
    </form>
    <% for(let i=0;i<list.length;i++){%>
      <div style="border: 1px solid black; margin-top: 10px">
        <span style="float: right; padding: 5px; cursor: pointer" onclick="remove('<%=list[i].id%>')">삭제</span>
        <span
          style="float: right; padding: 5px; cursor: pointer"
          onclick="updateToggle('<%=list[i].id%>')"
          >편집</span
        >
        <img
        src="https://www.shutterstock.com/image-vector/man-icon-vector-250nw-1040084344.jpg" alt="" style="clear: both; width: 50px;">
        <span><%=list[i].name %></span>
        <span><a href="/dwitter/<%=list[i].id %>"><%=`@${list[i].id}` %></a></span>
        <span><%=list[i].date %></span>
        <div><%=list[i].content %></div>
        <div style="display: none" id="updateFoam_<%=list[i].id%>">
          <input type="text" id="updateContent_<%=list[i].id%>" style="width: 80%" />
          <button type="button" onclick="update('<%=list[i].id%>')">update</button>
        </div>
      </div>
      <% }%>
    <script>
      function updateToggle(id) {
        const updateFoam = document.querySelector("#updateFoam_" + id);
        const updateContent = document.querySelector("#updateContent_" + id);

        if (updateFoam.style.display == "none"){
          updateFoam.style.display = "block";
          updateContent.focus()
        }
        else {
          updateFoam.style.display = "none";
          updateContent.value = "";
        }
      }
      function update(id){
        const updateText=document.querySelector("#updateContent_" + id).value
        fetch('/dwitter',
        {
          method:"put",
          headers:{'content-type': 'application/json'},
          body:JSON.stringify({content:updateText,id})
        }
        )
        .then(res=>{
          if(res.status==204){
            alert('업데이트 성공!')
            window.location.reload()
          }
        })
        .catch()
      }
      function remove(id){
        fetch('/dwitter',
        {
          method:"delete",
          headers:{'content-type': 'application/json'},
          body:JSON.stringify({id})
        }
        )
        .then(res=>{
          if(res.status==204){
            alert('삭제 성공!')
            window.location.reload()
          }
        })
        .catch()
      }
    </script>
  </body>
</html>
